
@font-face {
    font-family: Norse;
    src: url("/Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;
    font-family: Norse;
}

h1{
    color: white;
}


.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    width: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Norse, sans-serif;
    display: flex;
    flex-direction: column;
}
.right {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 8%;
    margin-bottom: 5px;
}

.second {
    height: 33vh;
    background-color: white;
    box-shadow: 2px 2px #e5e7eb;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 80%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
}

.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-divs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input{
    width: 200px;
    border: 2px solid #e5e7eb;
    height: 25px;
    border-radius: 10px;
}

input:focus{
    border: 1px solid blue;
}

input:invalid{
    border: 1px solid red;
}

.input-error{
    border: 2px solid red;
}

.third {
    height: 30vh;
    margin-left: 50px;
    margin-top: 20px;
}

.btn-green{
    background-color: #596d48;
    color: white;
    border: 1px solid #596d48;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    font-weight: bolder;
    font-size: large;
    box-shadow: 5px 5px #e5e7eb;
}



a{
    color: #596d48;
    text-decoration: none;
}

.p-footer{
    font-size: 12px;
    color: white;
}
.a-footer{
    color: white
}

.forFooter{
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: flex-end;
    width: 35vh;
}

.forImage{
    height: 39vh;
    display: flex;
    align-items: flex-end;
}

.semi-transparent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}